body {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    overflow: auto;
    line-height: 25px;
    background-color: black;
}

* {
	position: relative;
	box-sizing: border-box;
}

.container-profile {
	min-height: 1000px;
	color: white;
	/*background-color: black !important;*/
   /* background: rgba(105, 105, 105, .3) !important;*/
	column-count: 3;
	line-height: 2;
	width: 95%;
	margin: 20px auto;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
    /*border-radius: 10px;*/
    border: white solid 15px;
    padding: 10px auto;
}

.container-rgb{
	width: 95%;
	margin: 20px auto;
}

.profile{
	margin: 5px auto;
}

/*.rgb-image{
	margin: 10px auto;
	border: 2px solid white;
}*/

profile-display img {
	padding: 10px;
}

nav .brand-logo {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 200px;
}

.nav-extended{
	/*background-image: url(../img/nav.png) !important;*/
	background-size: cover;
	clear: both;
}

.brand-logo{
	width: 100px;
}

#navbar {
/*	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;*/
	/*height: 60px;*/
}


.parallax-img img {
	position: absolute;
	background-position: 50% 210px !important;
	width: 100%;
	height: auto !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

 .parallax-container {
      height: 380px;
}