body {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    overflow: auto;
    line-height: 25px;
    background-color: black;
}
* {
	position: relative;
	box-sizing: border-box;
}


.parallax-img img {
	position: absolute;
	background-position: 50% 210px !important;
	width: 100%;
	height: auto !important;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}


 .parallax-container {
      height: 380px;
    }


.main-search {
	margin-top: 50px;

    /*background-color: rgba(255,255,255,0.5);*/
    border-radius: 10px;
}

.main-intro {
	background-color: #fff;
    background-color: rgba(255,255,255,0.7);
	margin: 80px;
}

.main-intro-subnav {

}

/* Main Intro Link */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #382323;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.registration-modal {
	border-radius: 3px;
	background: rgb(105, 105, 105);
    background: rgba(105, 105, 105, .5) !important;  
    /*background-color: red; */
}

.logo {
	
}


.nav-wrapper {
/*	background: rgb(105, 105, 105);
	background: rgba(105, 105, 105, .5) !important;*/
	border-bottom-color: 2px solid snow;
}
nav, footer, .btn-large, .btn {
	background-color: turquoise !important;
}

nav .brand-logo {
    display: flex;
    align-items: center;
    height: 100%;
}

nav img {
	width: 100%;
}

#navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	width: 100%;
	height: 60px;
}

/*height increased to 106% to be flush with rest of navbar.*/
.color-window {
	position: relative;
	height: 106%;
	width: 40%;
	left: 30%;
	background-color: orange;
}

.load-more {
	width: 100%;
}

#explore-display {
	padding-top: 30px;
	column-count: 3;
	line-height: 2;
	width: 100%;
	margin: 0px;
    -moz-column-gap: 0;
    -webkit-column-gap: 0;
    column-gap: 0;
}

.explore-image {
	display: inline-block;
	vertical-align: top;
	margin: 2px 2px 0;
	width: 100%;
	-webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;

footer.page-footer {
    margin-top: 0px;
    background: rgba(105, 105, 105, .5) !important;
}

.logo{
	width: 215px;
	height: 75px;
}
.webui-popover {
	background-color: #fff;
    background-color: rgba(255,255,255,0.3);
}

/*==========================PROFILE.HTML=============================*/

.tab a.active {
	color: #fff !important;
}
.parallax-img {
	background: rgba(105, 105, 105, .5) !important;
	max-width: 33%;

}

.parallax-profile {
	background: rgba(105, 105, 105, .5) !important;
}
.extended{
	border-top-color: 2 solid #fff !important;
}

.nav-extended{
	background-image: url(../img/nav.png) !important;
	background-size: cover;
}

#like {
	color: #fff !important;
}

/*.container-profile {
		background-color: black;
    background-color: rgba(255,255,255,0.3) !important;*/


